body{
background-image:url("/home/itsec2/Downloads/nuda.jpg");
background-repeat:no-repeat;
}
#bluetxt{color:blue;
font-family:Times new roman;
text-decoration:line-through;
font-weight:bold;
letter-spacing:.3em;
margin-bottom:5em;
text-transform:uppercase;
border-style:dashed;
text-shadow:2px 4px;
font-style:bold;
font-size:50px;}
#pinktxt{color:pink;
text-align:right;}
a.redtxt:visited{color:red;}
a.greentxt:link{color:green;}
a.largesize:hover{font-size:10pt;}
a.act:active{color:yellow;}
