body{
background-image:url("/home/itsec2/Pictures/akm.jpg");
background-repeat:repeat-y;
background-position:top-right;
background-image:no-repeat;
background-color:linen;}
h1{
border-left:solid;
border-width:20px;
background-color:lightblue;}
p{
border-style:dotted;
border-color:red;
border-width:4px;
color:red;}
para1{
background-color:blue;}
p.s{
border-style:solid;
border-color:green;
}
h1{
border-style:solid;
border-top-width:50px;
border-bottom-width:50px;
border-left-width:20;
border-right-width:25;}
p{
padding:50px;}
h1{
width:50%;}
div{
border-style:solid;
border-color:green;
border:25px solid navy;
width:200px;}

